<section>
    <Landing>
        <h2>About Super Skateboards</h2>
        <p>The Super Skateboards website is a delightful project created to explore Ember. By building a skateboard
            information site.</p>
        <LinkTo @route="contact" class="button">Contact Us</LinkTo>
    </Landing>
</section>