<section>
    <Landing>
        <h2>Welcome to Super Skateboards!</h2>
        <p>We hope you find exactly what you're looking for...</p>
        <LinkTo @route="board" class="button">See Boards</LinkTo>
    </Landing>
</section>